
<div class="container px-4 py-5 mx-auto ">
  <div class= "center"><h2>Hello <%= resource_name.to_s.humanize %></h2> </div>
    <div class= "center"><div class="marg"><h5> Choisi les thèmes que tu préferes !</h5></div></div>
      <div id=ligne></div>

    <div class= "row justify-content-center">
      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="checkbox" checked autocomplete="off"> Sport
        </label>
      </div>

      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="checkbox" checked autocomplete="off"> Politique
        </label>
      </div>
      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="checkbox" checked autocomplete="off"> Sciences
        </label>
      </div>
      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="checkbox" checked autocomplete="off"> International
        </label>
      </div>
      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="checkbox" checked autocomplete="off"> Economie
        </label>
      </div>
      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="checkbox" checked autocomplete="off"> Informatique
        </label>
      </div>
      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="checkbox" checked autocomplete="off"> Finance
        </label>
      </div>
      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="checkbox" checked autocomplete="off"> Culture
        </label>
      </div>
    </div>

      <div class= "center"><div class="marg"><h5> Sur quels médias ?</h5>
        </div>
      </div>
        <div id=ligne></div>
          <div class= "d-flex justify-content-between">
            <i class="fas fa-podcast fa-5x"></i>
            <i class="far fa-newspaper fa-5x"></i>
            <i class="fab fa-youtube-square fa-5x"></i>
          </div>

          <div class= "center">
            <div class="marg"> <h5> Combien de temps as-tu de disponible ?</h5>
            </div> </div>
            <div class= "justify-content-center">
              <div id=ligne>
              </div>
                <div class="slidecontainer">
                  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">

                  <div class= "center">
                    <button type="button" class="btn btn-outline-dark ">Enregister</button>
                  </div>
                </div>
          </div>

</div>
