// Specific CSS for your home-page
.first-text {
  text-align: center;
  margin-top: 45px;
}

.first-text h6{
  color: grey;
  margin-top: 35px;
  font-size: 20px ;
}


.btn-sign_up {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.text-content {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
}

.controls-top {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.carousel-inner-home{
  width: 200px;
  margin-left: 70px;
  margin-top: 20px;
}
