// Specific CSS for your home-page
#multi-item-example {
  height: 50vh,
}

.first-text {
  text-align: center;
  margin-top: 45px;
}

.slide-text {
  text-align: center;
  color: grey;
  font-size: 20px ;
}

.first-text h1 {
  font-size: 2.125em;
  font-weight: 700;
  color: #304d6d;
    }


.btn-sign_up {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 110px;
}

.text-content {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;

}

.fond-color {
  font-size: 16px ;
  background-color: #304d6d;
  color: white;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-left: -20px;
  margin-right: -20px;
  height: 830px;
}

.text_noye {
  margin-left: 20px;
  margin-right: 20px;
}

.feedback .msg {
    background-color: #82A0BC;
    border-radius: 10px;
    padding: 25px 20px;
    margin-bottom: 30px;
    position: relative;
  }

.text_noye  h1 {
    font-size: 2.125em;
    font-weight: 700;
    color: #fff;
  }

.paraph p {
  font-size: 19px;
  color: #fff;
  margin: 0;
  line-height: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.controls-top {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.carousel-inner-home{
  width: 250px;
  margin-left: 50px;
  margin-top: 20px;
}

.btn_home .btn {
  background-color: #304d6d;
  border-radius: 30px;
}
