// Specific CSS for your home-page
#multi-item-example {
  height: 50vh,
}

.first-text {
  text-align: center;
  margin-top: 45px;
}

.slide-text {
  text-align: center;
  color: grey;
  font-size: 20px ;
}

.first-text h1 {
  font-family: patron bold,helvetica,arial,sans-serif;
  font-size: 2.125em;
  font-weight: 700;
  color: #304d6d;
    }


.btn-sign_up {
  text-align: center;
  margin-top: 86px;
  margin-bottom: 10px;
  padding: 50px;
}

.text-content {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;

}

.fond-color {
  font-size: 16px ;
  background-color: #304d6d;
  color: white;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-left: -20px;
  margin-right: -20px;
  height: 852px;
}

.text_noye {
  margin-left: 20px;
  margin-right: 20px;
}

.feedback .msg {
    background-color: #82A0BC;
    border-radius: 10px;
    padding: 25px 20px;
    margin-bottom: 30px;
    position: relative;
  }

.text_noye  h1 {
    font-family: patron bold,helvetica,arial,sans-serif;
    font-size: 2.125em;
    font-weight: 700;
    color: #fff;
  }

.paraph p {
  font-size: 19px;
  color: #fff;
  margin: 0;
  line-height: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.controls-top {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.carousel-inner-home{
  width: 250px;
  margin-left: 50px;
  margin-top: 20px;
}

.btn_home .btn {
  background-color: #304d6d;
  border-radius: 30px;
}

.container-intro {
  background-color: #82A0BC;
  padding: 10px;
}
.title-intro {
  padding-top: 15px;
}
.full-bubble {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 16px;
}

.bubble {
	// layout
	position: relative;
	max-width: 12em;
  display: flex;
  flex-direction: row;
  justify-content: center;
	// looks
	background-color: #fff;
	padding: 1.125em 1.5em;
  padding-top: 28px;
	font-size: 1.25em;
	border-radius: 1rem;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}
