#favoris_title {
    font-family: patron bold,helvetica,arial,sans-serif;
    font-size: 2.125em;
    font-weight: 700;
    color: #fff;
    text-align: center;
  }

.description_favoris {
  font-size: 16px ;
  background-color: #304d6d;
  color: white;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-left: -20px;
  margin-right: -20px;
  height: 180px;
}

.description_favoris p {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

#favoris_category_title {
  font-family: patron bold,helvetica,arial,sans-serif;
  font-size: 1.625em;
  font-weight: 700;
  text-align: center;
}

#favoris_categorie {
  font-family: patron bold,helvetica,arial,sans-serif;
  font-size: 1.425em;
  font-weight: 700;
  color: #304d6d;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 300px;
}

.favori_page .btn-btn-supp-favori {
    background-color: white;
    padding: 10px;
    color: #daa756;
    border-radius: 30px;
    border: 1px solid #daa756;
    margin-top: 20px;
    font-size: 14px;
    margin-left: 25px;
}


.favori_page .btn-decouvrir-favori {
    background-color: #62a5bc;
    padding: 10px;
    color: white;
    border-radius: 30px;
    border: none;
    margin-right: 0px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-link {
  width: 350px ;
  align-content: center;
  margin: 0 auto;
}

.scroll-favori {
  overflow: auto;
}
