<div class="footer">
  <div class="footer-text">
    <p>Contactez-nous</p>
  </div>
  <div class="list-social">
    <ul>
      <li><i class="fab fa-github"></i></li>
      <li><i class="fab fa-twitter"></i></li>
      <li><i class="fab fa-youtube"></i></li>
    </ul>
  </div>
</div>
