<div class="container-intro">
  <div class="text_noye">
    <h1 class="title-intro">Noyé sous l'info ?</h1>
    <div class="full-bubble">
      <div class="bubble">
        <span id="text-bubble"></span>
      </div>
        <%= image_tag("hibou-png.png", height: "90") %>
    </div>
      <div class="paraph">
        <p>Carlos, c'est notre assistant à plumes le plus cultivé de l'internet.</p>
        <p>Dans cet océan d'informations, il s'occupera d'aller pêcher vos news tous les matins</p>
        <p>Le tout, selon vos préférences et votre temps disponible ⏱</p>
      </div>
  </div>
</div>
