.footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid black;
}

.footer .list-social ul{
  display: inline-flex;
  list-style: none;
  justify-content: space-around;
}

.footer-text p {
  font-weight: bold;
  color: rgb(48, 77, 109);
}

.footer .list-social li i {
  margin-right: 15px;
  color: rgb(48, 77, 109);
}
