.navbar {
  display: flex;
  border-bottom: 1px solid black;
  height: 80px;
  align-items: center;
}

.navbar .title h6 {
  margin-bottom: -15px;
  margin-left: -10px;
  font-size: 25px;
  font-weight: bold;
}

.navbar .user_connect a {
  color: red;
  border: 1px solid red;
}
