.btn-group-toggle-a .btn {
  width: 150px;
  margin: 10px;
  border-radius: 20px;
}
.btn-group-toggle .btn:hover {
background-color: rgb(104, 115, 212);
}

 #ligne .i {
  margin-top: 10px;
  color: rgb(62, 63, 158);
}
 #ligne .i:hover {
  color: rgb(101, 104, 240);
}

.marg h5 {
  margin-top: 20px;
}

#ligne {
  height: 2px;
  background-color: black;
  border-radius: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}
#ligne_milieu {
  height: 2px;
  background-color: black;
  border-radius: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  margin-left: 90px;
}

.center .btn-outline-dark {
  font-weight: bold;
  border-radius: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 200px;
  align-content: center;
}

.center {
 text-align: center;
}


/* The slider itself */
.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 15px;
  border-radius: 5px;
  background: #2b2a2a;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 10px;
  margin-left: 30px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #616cd4;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4f4db3;
  cursor: pointer;
}
