.date {
  border: 1px solid rgb(98, 165, 188);
  margin-left: 140px;
  margin-right: 140px;
  padding: 5px;
  border-radius: 10px;
  color: rgb(98, 165, 188);
}

.carousel {
  margin-top: 30px;
}
.card-title {
  text-decoration: underline;
}

.source {
  color: grey;
  margin-left: -15px;
}

.card-body a {
  margin-left:30px
}

.card-body-player audio {
  width: 100%;
  border-radius:none;

}

.card-btn {
  display: flex;
  justify-content:space-between;
  margin-right: 30px;
}

.card-btn .btn-favori {
  background-color: rgb(218, 167, 86);
  padding: 10px;
  color: white;
  border-radius:30px;
  border: none;
}

.card-btn .btn-view {
  background-color: rgb(98, 165, 188);
  padding: 10px;
  color: white;
  border-radius:30px;
  border: none;
}

.controls-top .btn-controls {
  color: rgb(98, 165, 188) ;
}
