.date {
  border: 1px solid black;
  margin-left: 140px;
  margin-right: 140px;
  padding: 5px;
  border-radius: 10px;
}

.carousel {
  margin-top: 30px;
}

.source {
  color: grey;
  margin-left: -15px;
}

.card-body a {
  margin-left:30px
}
